    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    h3 {
        font-family: 'Roboto', cursive;
    }
    
    .scaffold {
        display: grid;
        grid-template-areas: 'header header header header header header' 'main main main main main main' 'body body body body aside aside' 'footer footer footer footer footer footer';
        background-color: #00a19a;
    }
    
    .scaffold div {
        text-align: center;
        align-content: space-between;
    }
    
    .header {
        background-color: black;
        grid-area: header;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .menu {
        display: flex;
    }
    
    .menu .logo {
        flex: 1;
    }
    
    .menu .spacebox {
        flex: 2;
    }
    
    .hamb {
        display: none;
    }
    
    .menu .nav {
        flex: 3;
        display: flex;
        align-self: center;
        justify-content: space-around;
    }
    
    a {
        color: white;
        text-decoration-line: none;
    }
    
    .main {
        margin-right: 10%;
        margin-left: 10%;
        padding: 0px;
        grid-area: main;
        position: relative;
    }
    
    .main img {
        position: relative;
    }
    
    .main .text {
        z-index: 1;
        border-radius: 10px;
        position: absolute;
        background-color: #f39200;
        margin-top: -30%;
        margin-left: 40%;
        margin-right: 10%;
        padding: 20px;
        text-align: justify;
    }
    
    .body {
        padding-left: 10vw;
        background-color: #00a19a;
        grid-area: body;
        display: flexbox;
    }
    
    .body .contact {
        margin-top: 10px;
        position: relative;
    }
    
    .body .contact iframe {
        background-color: red;
        border-radius: 10px;
        position: relative;
    }
    
    form {
        display: flex;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-top: 20px;
        padding: 10px;
        background-color: black;
        align-items: center;
        border-radius: 10px;
    }
    
    .form h4 {
        color: white;
    }
    
    .datos {
        flex: 1;
        justify-content: space-between;
        padding: 10px;
        margin-right: 10px;
    }
    
    .datos input {
        padding: 5px;
        margin: 5px;
    }
    
    .mensaje {
        flex: 2;
        margin-right: 50px;
    }
    
    .boton {
        padding: 10px;
        background-color: #f39200;
        flex: 1;
        align-self: center;
        justify-content: space-between;
    }
    
    .body .brands {
        background-color: #00a19a;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .body .brands .brand {
        border-radius: 10px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    
    .body .brands .brand img {
        margin: 10px;
        width: 10%;
    }
    
    .body .services {
        background-color: #00a19a;
        display: flex;
        flex-wrap: wrap;
    }
    
    .body .services .service {
        border-radius: 15px;
        background-color: white;
        margin: 1%;
        width: 31%;
    }
    
    .body .services .service img {
        margin: 12px;
        width: 30%;
    }
    
    .body .services .service p {
        margin: 12px;
    }
    
    .body .services .service h3 {
        color: #f39200;
        margin: 12px;
    }
    
    .body .article {
        padding: 30px;
    }
    
    .aside {
        border-radius: 10px;
        margin-right: 10vw;
        margin-top: 20px;
        margin-left: 20px;
        padding-top: 20px;
        background-color: #f39200;
        grid-area: aside;
    }
    
    .aside .category {
        margin-top: 10px;
    }
    
    .footer {
        background-color: black;
        grid-area: footer;
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
    }
    
    .footer .menu {
        align-items: center;
        margin-right: 10vh;
    }
    
    .footer .logo {
        flex: 1;
    }
    
    .footer .info {
        align-items: center;
        text-align: right;
        padding: 10px;
        flex: 4;
        color: white;
    }
    
    .footer .redes {
        justify-content: center;
        padding-left: 20px;
        flex: 1;
        margin-right: 10vh;
    }
    
    .footer .redes a {
        color: white;
        font-size: 30px;
    }
    
    @media (max-width:900px) {
        .main .text {
            border-radius: 10px;
            position: absolute;
            background-color: orange;
            margin-top: -40%;
            margin-left: 20%;
            margin-right: 10%;
            padding: 20px;
        }
        .aside {
            margin-left: 0px;
            padding-top: 20px;
            background-color: #f39200;
            border-radius: 0%;
        }
        .body .brands .brand {
            border-radius: 0px;
            margin: px;
        }
        .body .contact iframe {
            border-radius: 0px;
            margin: 0px;
        }
        form {
            border-radius: 0px;
            margin-bottom: 20px;
        }
        .footer {
            padding: 20px;
            justify-content: space-between;
        }
        .footer .info img {
            width: 200px;
        }
    }
    
    @media (max-width:767px) {
        .scaffold {
            display: grid;
            grid-template-areas: 'header header header header header header' 'main main main main main main' 'body body body body body body' 'aside aside aside aside aside aside''footer footer footer footer footer footer';
            padding-right: 0%;
            padding-left: 0%
        }
        .menu .spacebox {
            flex: 0.5;
        }
        .main {
            margin: 0px;
        }
        .main .text {
            border-radius: 10px;
            position: absolute;
            background-color: orange;
            margin-top: -30;
            margin-left: 10%;
            margin-right: 10%;
            padding: 10px;
        }
        .body {
            background-color: tomato;
            padding-left: 0vw;
            ;
        }
        .aside {
            background-color: #00a19a;
            display: flex;
            margin-bottom: 20px;
            margin-left: 10%;
            margin-right: 10%;
        }
        .aside .category {
            background-color: black;
            margin: 5px;
            width: 33%;
            align-self: center;
        }
        .aside h3 {
            color: #00a19a;
        }
        .aside img {
            width: 100%;
            height: 250px;
        }
        .footer {
            font-size: smaller;
        }
        .footer .contact {
            flex: 1;
        }
    }